@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --white: #fff;
  --black: #474554;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  margin: 0 16px;
}

a {
  display: flex;
  align-items: center;
  min-height: 42px;
  min-width: 42px;
  font-weight: bold;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd,
dt,
blockquote,
pre,
figure,
hr,
table,
fieldset,
form,
legend,
caption,
details,
summary,
menu {
  color: var(--black);
}