@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--color-background: var(--color-gray-100);
	--color-secondary: var(--color-teal-400);
	--animate-marquee: marquee-scroll linear infinite;

	@keyframes marquee-scroll {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-50%);
		}
	}
}

@layer base {
	body,
	html {
		overflow-x: hidden;
	}

	main {
		@apply mt-24 mb-48;
	}

	header > div,
	main > * {
		@apply max-w-7xl mx-auto px-4 md:px-8;
	}

	body {
		@apply bg-background;
	}

	a {
		@apply text-teal-500;
	}

	.horizontal-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.horizontal-scrollbar::before,
	.horizontal-scrollbar::after {
		content: "";
		flex: 0 0 100%;
	}
}

@layer components {
	.hover-underline-animation {
		@apply relative after:content-[''] after:absolute after:w-full after:h-[2px] after:bg-teal-500 after:left-0 after:bottom-[-4px] after:scale-x-0 hover:after:scale-x-100 after:transition-transform after:origin-left after:hover:origin-left after:duration-300;
	}
}
